.youtube-watched-checkbox {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    left: 4px;
    opacity: 0.8;
    position: absolute;
    top: 4px;
    border-radius: 2px;
    padding: 3px 4px;
    z-index: -1000;
}

.youtube-watched-thumbnail yt-img-shadow img {
    opacity: 0.3;
}
